<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SparePartManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
   
  <servlet>
         <servlet-name>faqSubmitservlet</servlet-name>
         <servlet-class>com.Faq.FaqSubmitServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
         <servlet-name>faqSubmitservlet</servlet-name> 
         <url-pattern>/submit</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>FaqDisplayServlet</servlet-name>
    <servlet-class>com.Faq.FaqDisplayServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>FaqDisplayServlet</servlet-name>
    <url-pattern>/display</url-pattern>
 </servlet-mapping>
 
 <servlet>
    <servlet-name>FaqUpdateServlet</servlet-name>
    <servlet-class>com.Faq.FaqUpdateServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>FaqUpdateServlet</servlet-name>
     <url-pattern>/Update</url-pattern>
</servlet-mapping>
 <servlet>
      <servlet-name>FaqDeleteServlet</servlet-name>
      <servlet-class>com.Faq.FaqDeleteServlet</servlet-class>
 </servlet>
 <servlet-mapping>
      <servlet-name>FaqDeleteServlet</servlet-name>
      <url-pattern>/Delete</url-pattern>
</servlet-mapping>

<!--Janidu-->


<servlet>

<servlet-name>customerinsert</servlet-name>

<servlet-class>com.Contact.contactnew</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>customerinsert</servlet-name>

<url-pattern>/insert</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>updatecustomer</servlet-name>

<servlet-class>com.Contact.updateContactServ</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>updatecustomer</servlet-name>

<url-pattern>/update</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>deletecustomer</servlet-name>

<servlet-class>com.Contact.deleteCusServ</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>deletecustomer</servlet-name>

<url-pattern>/delete</url-pattern>

</servlet-mapping>

                         
</web-app>